.beer-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding: 1rem;
  background-color: #b8b8b8;
  margin: 1rem;
  border-radius: 5px;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.beer-list-header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-right: 1rem;

  .toolbar {
    width: 80%;
  }
}

.spinner {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7); 
  z-index: 9999; 
}
