@if (beer()) {
  <p-card class="beer-card">
    <ng-template #header>
      <div class="beer-card-image-wrapper">
        <img
          [src]="imageUrl()"
          alt="Beer Image"
          class="beer-card-image"
        />
      </div>
    </ng-template>

    <ng-template #title>
      {{ beer()!.name }}
    </ng-template>

    <ng-template #subtitle>
      ID: {{ beer()!.id }}
    </ng-template>

    <p class="beer-tagline">
      {{ beer()!.tagline }}
    </p>

    <ng-template #footer>
      <p-button label="View Beer" severity="secondary" />
    </ng-template>
  </p-card>
}
